<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
        <style>
            html, body{ height: 70%;}
            body{

                background-color: #ddecf4;
                background-size: 100% 100%;
                font-family: 'Poppins';
                font-weight: 100%;
                text-align: center;
                color: #262b34;
            }
            .bold{
                font-weight: 300;
            }
        </style>
    </head>
    <body>
        <div style="padding-top:80px;">
            <div>
                <h1 class="bold">CERTIFICADO GLUD</h1>
                <p style="margin-bottom:0px; margin-top:25px;" class="light">Certifica a: </p>
                <p style="font-size: 2.4em; color: #1bbc9b ; margin: 0px;" class="bold">{{name}}</p>
                <br>
                <br>
                <p style="margin :0px;" >Por completar el curso de:</p>
                <h2 style="max-width:600px; margin: 25px auto;font-size:3em;"class="bold">{{course}}</h2>
                <p style="margin:0px">Con el reconocimento de:</p>
                <p style="font-size: 0.7em;" class="bold">{{description}}</p>
            </div>
        </div>
    </body>
</html>

    